<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Razor App Demo</title>
</head>
<body>
<main>
    <partial name="Shared/NavMenuPartial" />
    @RenderBody()
</main>
</body>
</html>
