<form>
        <label name="email">
            Email:
            <input type="email" name="email" id="">
        </label>
        <label name="password">
            Senha:
            <input type="password" name="email" id="">
        </label>
        <button type="button">Login</button>
</form>