@page
@model RazorAppDemo.Pages.About
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
<h2>Sobre</h2>
<nav>
    <ul>
        <li><a href="~/Login">Login</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/">Categorias</a></li>
    </ul>
</nav>
</body>
</html>