@page
@model RazorAppDemo.Pages.Index

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Itens</title>
</head>
<body>
<main>
    <h2>Categorias</h2>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Título</td>
                <td>Preço</td>
            </tr>
        </thead>
        <tbody>
                @foreach(var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
                    </tr>
                }
        </tbody>
    </table>
</main>
</body>
</html>